#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


.doclist img {
  width: 33px;
}

.docheader {
  border: grey 2px solid;
  padding: 0.5em;
}

.doclist ul h3 {
  display: grid;
  grid-template-columns: 400px 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 0.5em;
}

.doclist {
  display: grid;
  border: grey 2px solid;
}

.navbar {

  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 230%;
}

.docContent {
  border: black solid 2px;
  padding: 1em;
}

.nav-list {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
}

.nav-list-item {
  padding: 1em;
  background-color: #29b53a;
  border: 2px solid black;
}

.nav-list-item-active {
  background-color: #88d691;
  padding: 1em;
  border: 2px solid black;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.docForm {
  display: flex;
  flex-direction: column;
}

.docForm label {
  font-size: 1.5em;
  padding: 0.5em;
}

.docForm input {
  width: 400px;
  padding: 0.5em;
}

.docForm textarea {
  padding: 0.5em;
  width: 400px;
  height: 400px;
}

.docForm button {
  margin: 0.5em;
  padding: 0.5em;
  font-size: 2em;

}