#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.navbar {
  
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 230%;
}

.docContent {
  border: black solid 2px;
  padding: 1em;
}

.nav-list {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items:center;
  list-style: none;
  width: 100%;
}

.nav-list-item {
  padding: 1em;
  background-color: #29b53a;
  border: 2px solid black;
}

.nav-list-item-active {
  background-color: #88d691;
  padding: 1em;
  border: 2px solid black;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
